Download the dataset (in csv format) from the following link:

https://www.kaggle.com/jahias/microsoft-adventure-works-cycles-customer-data

The Marketing department of Adventure Works Cycles wants to increase sales by targeting specific
customers for a mailing campaign. The company's database contains a list of past customers and a list of
potential new customers. By investigating the attributes of previous bike buyers, the company hopes to
discover patterns that they can then apply to potential customers. They hope to use the discovered patterns
to predict which potential customers are most likely to purchase a bike from Adventure Works Cycles.

Importing Pandas

In [6]:
import numpy as np
import pandas as pd

Loading the Dataset

In [7]:
df_customers = pd.read_csv('C:/Users/SIDDHANT/Documents/Studies/3rd Year/Machine Learning/Assignment 2/kaggle_dataset/AWCustomers.csv')
df_sales = pd.read_csv('C:/Users/SIDDHANT/Documents/Studies/3rd Year/Machine Learning/Assignment 2/kaggle_dataset/AWSales.csv')

Display the first 6 rows of the data

In [8]:
print(df_customers.head())
print(df_sales.head())

   CustomerID Title FirstName MiddleName  LastName Suffix  \
0       21173   NaN      Chad          C      Yuan    NaN
1       13249   NaN      Ryan        NaN     Perry    NaN
2       29350   NaN     Julia        NaN  Thompson    NaN
3       13503   NaN  Theodore        NaN     Gomez    NaN
4       22803   NaN  Marshall          J      Shan    NaN

             AddressLine1 AddressLine2         City    StateProvinceName  ...  \
0      7090 C. Mount Hood          NaN   Wollongong      New South Wales  ...
1     3651 Willow Lake Rd          NaN      Shawnee     British Columbia  ...
2  1774 Tice Valley Blvd.          NaN  West Covina           California  ...
3         2103 Baldwin Dr          NaN    Liverpool              England  ...
4         Am Gallberg 234          NaN        Werne  Nordrhein-Westfalen  ...

         Education      Occupation Gender MaritalStatus HomeOwnerFlag  \
0        Bachelors        Clerical      M             M             1
1  Partial College        Clerical      M             M             1
2        Bachelors        Clerical      F             S             0
3  Partial College  Skilled Manual      M             M             1
4  Partial College  Skilled Manual      M             S             1

  NumberCarsOwned NumberChildrenAtHome TotalChildren  YearlyIncome  \
0               3                    0             1         81916
1               2                    1             2         81076
2               3                    0             0         86387
3               2                    1             2         61481
4               1                    0             0         51804

   LastUpdated
0   2017-03-06
1   2017-03-06
2   2017-03-06
3   2017-03-06
4   2017-03-06

[5 rows x 24 columns]
   CustomerID  BikeBuyer  AvgMonthSpend
0       21173          1          50.97
1       13249          1          53.11
2       29350          1          54.08
3       13503          1          56.93
4       22803          1          55.41

Summarize the data

In [9]:
print(df_customers.info())
print(df_sales.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18361 entries, 0 to 18360
Data columns (total 24 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   CustomerID            18361 non-null  int64
 1   Title                 101 non-null    object
 2   FirstName             18361 non-null  object
 3   MiddleName            10572 non-null  object
 4   LastName              18361 non-null  object
 5   Suffix                3 non-null      object
 6   AddressLine1          18361 non-null  object
 7   AddressLine2          311 non-null    object
 8   City                  18361 non-null  object
 9   StateProvinceName     18361 non-null  object
 10  CountryRegionName     18361 non-null  object
 11  PostalCode            18361 non-null  object
 12  PhoneNumber           18361 non-null  object
 13  BirthDate             18361 non-null  object
 14  Education             18361 non-null  object
 15  Occupation            18361 non-null  object
 16  Gender                18361 non-null  object
 17  MaritalStatus         18361 non-null  object
 18  HomeOwnerFlag         18361 non-null  int64
 19  NumberCarsOwned       18361 non-null  int64
 20  NumberChildrenAtHome  18361 non-null  int64
 21  TotalChildren         18361 non-null  int64
 22  YearlyIncome          18361 non-null  int64
 23  LastUpdated           18361 non-null  object
dtypes: int64(6), object(18)
memory usage: 3.4+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18355 entries, 0 to 18354
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   CustomerID     18355 non-null  int64
 1   BikeBuyer      18355 non-null  int64
 2   AvgMonthSpend  18355 non-null  float64
dtypes: float64(1), int64(2)
memory usage: 430.3 KB
None

Data Statistics

In [10]:
print(df_customers.describe())
print(df_sales.describe())

         CustomerID  HomeOwnerFlag  NumberCarsOwned  NumberChildrenAtHome  \
count  18361.000000   18361.000000     18361.000000          18361.000000
mean   20241.987092       0.610588         1.270301              0.338162
std     5336.332731       0.487630         0.913989              0.568957
min    11000.000000       0.000000         0.000000              0.000000
25%    15621.000000       0.000000         1.000000              0.000000
50%    20248.000000       1.000000         1.000000              0.000000
75%    24863.000000       1.000000         2.000000              1.000000
max    29483.000000       1.000000         5.000000              3.000000

       TotalChildren   YearlyIncome
count   18361.000000   18361.000000
mean        0.850389   72754.779642
std         0.927315   30686.014313
min         0.000000   25435.000000
25%         0.000000   53312.000000
50%         0.000000   61851.000000
75%         2.000000   87410.000000
max         3.000000  139115.000000
         CustomerID    BikeBuyer  AvgMonthSpend
count  18355.000000  18355.00000   18355.000000
mean   20241.349387      0.55173      51.767207
std     5336.539868      0.49733       3.438024
min    11000.000000      0.00000      44.100000
25%    15620.500000      0.00000      49.410000
50%    20246.000000      1.00000      51.420000
75%    24863.500000      1.00000      53.600000
max    29483.000000      1.00000      65.290000

Examine the values of each attribute and Select a set of attributes only that would affect to predict
future bike buyers to create your input for data mining algorithms. Remove all the unnecessary
attributes. (Select features just by analysis).

In [11]:
columns_to_drop = ['Title', 'FirstName', 'MiddleName', 'LastName', 'Suffix', 
                   'AddressLine1', 'AddressLine2', 'City', 'StateProvinceName', 
                   'CountryRegionName', 'PostalCode', 'PhoneNumber', 'BirthDate', 'LastUpdated']

df_customers_cleaned = df_customers.drop(columns=columns_to_drop)

print(df_customers_cleaned.head())

   CustomerID        Education      Occupation Gender MaritalStatus  \
0       21173        Bachelors        Clerical      M             M
1       13249  Partial College        Clerical      M             M
2       29350        Bachelors        Clerical      F             S
3       13503  Partial College  Skilled Manual      M             M
4       22803  Partial College  Skilled Manual      M             S

   HomeOwnerFlag  NumberCarsOwned  NumberChildrenAtHome  TotalChildren  \
0              1                3                     0              1
1              1                2                     1              2
2              0                3                     0              0
3              1                2                     1              2
4              1                1                     0              0

   YearlyIncome
0         81916
1         81076
2         86387
3         61481
4         51804

Create a new Data Frame with the selected attributes only.

In [13]:
df_merged = pd.merge(df_customers_cleaned, df_sales, on='CustomerID')
print(df_merged.head())

   CustomerID        Education      Occupation Gender MaritalStatus  \
0       21173        Bachelors        Clerical      M             M
1       13249  Partial College        Clerical      M             M
2       29350        Bachelors        Clerical      F             S
3       13503  Partial College  Skilled Manual      M             M
4       22803  Partial College  Skilled Manual      M             S

   HomeOwnerFlag  NumberCarsOwned  NumberChildrenAtHome  TotalChildren  \
0              1                3                     0              1
1              1                2                     1              2
2              0                3                     0              0
3              1                2                     1              2
4              1                1                     0              0

   YearlyIncome  BikeBuyer  AvgMonthSpend
0         81916          1          50.97
1         81076          1          53.11
2         86387          1          54.08
3         61481          1          56.93
4         51804          1          55.41

Determine a Data value type (Discrete, or Continuous, then Nominal, Ordinal, Interval, Ratio) of
each attribute in your selection to identify preprocessing tasks to create input for your data mining.

In [14]:
data_types = {
    'CustomerID': 'Discrete (Nominal)',
    'Education': 'Categorical (Ordinal)',
    'Occupation': 'Categorical (Nominal)',
    'Gender': 'Binary (Nominal)',
    'MaritalStatus': 'Binary (Nominal)',
    'HomeOwnerFlag': 'Binary (Nominal)',
    'NumberCarsOwned': 'Discrete (Ordinal)',
    'NumberChildrenAtHome': 'Discrete (Ordinal)',
    'TotalChildren': 'Discrete (Ordinal)',
    'YearlyIncome': 'Continuous (Ratio)',
    'BikeBuyer': 'Binary (Nominal)',
    'AvgMonthSpend': 'Continuous (Ratio)'
}

for col, dtype in data_types.items():
    print(f"Attribute: {col}, Data Type: {dtype}")

Attribute: CustomerID, Data Type: Discrete (Nominal)
Attribute: Education, Data Type: Categorical (Ordinal)
Attribute: Occupation, Data Type: Categorical (Nominal)
Attribute: Gender, Data Type: Binary (Nominal)
Attribute: MaritalStatus, Data Type: Binary (Nominal)
Attribute: HomeOwnerFlag, Data Type: Binary (Nominal)
Attribute: NumberCarsOwned, Data Type: Discrete (Ordinal)
Attribute: NumberChildrenAtHome, Data Type: Discrete (Ordinal)
Attribute: TotalChildren, Data Type: Discrete (Ordinal)
Attribute: YearlyIncome, Data Type: Continuous (Ratio)
Attribute: BikeBuyer, Data Type: Binary (Nominal)
Attribute: AvgMonthSpend, Data Type: Continuous (Ratio)

Part II: Data Preprocessing and Transformation

Depending on the data type of each attribute, transform each object from your preprocessed data.
Use all the data rows (~= 18000 rows) with the selected features as input to apply all the tasks below, do
not perform each task on the smaller data set that you got from your random sampling result.

Importing Sklearn Modules

In [16]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler

(a) Handling Null values

In [17]:
# Categorical Att
categorical_cols = ['Education', 'Occupation', 'Gender', 'MaritalStatus']
imputer_mode = SimpleImputer(strategy='most_frequent')
df_merged[categorical_cols] = imputer_mode.fit_transform(df_merged[categorical_cols])

# Numerical Att
numerical_cols = ['YearlyIncome', 'AvgMonthSpend', 'NumberCarsOwned', 'NumberChildrenAtHome', 'TotalChildren']
imputer_mean = SimpleImputer(strategy='mean')
df_merged[numerical_cols] = imputer_mean.fit_transform(df_merged[numerical_cols])

# Check for remaining NULL Values
print(df_merged.isnull().sum())

CustomerID              0
Education               0
Occupation              0
Gender                  0
MaritalStatus           0
HomeOwnerFlag           0
NumberCarsOwned         0
NumberChildrenAtHome    0
TotalChildren           0
YearlyIncome            0
BikeBuyer               0
AvgMonthSpend           0
dtype: int64

(b) Normalization

In [18]:
# Normalize YearlyIncome and AvgMonthSpend
scaler = MinMaxScaler()
df_merged[['YearlyIncome', 'AvgMonthSpend']] = scaler.fit_transform(df_merged[['YearlyIncome', 'AvgMonthSpend']])

# Display normalized columns
print(df_merged[['YearlyIncome', 'AvgMonthSpend']].head())

   YearlyIncome  AvgMonthSpend
0      0.496842       0.324210
1      0.489453       0.425201
2      0.536172       0.470977
3      0.317083       0.605474
4      0.231958       0.533742

(c) Discretization (Binning) on Continuous attributes or Categorical Attributes with too many different values

In [20]:
# Converting the continuous attribute (Yearly Income) to Discrete -> Low, Medium, High 
df_merged['IncomeBin'] = pd.cut(df_merged['YearlyIncome'], bins=3, labels=['Low', 'Medium', 'High'])

# Display the binned data
print(df_merged[['YearlyIncome', 'IncomeBin']].head())

# Check the number of occurrences in each bin
income_bin_counts = df_merged['IncomeBin'].value_counts()

# Display the counts
print(income_bin_counts)

   YearlyIncome IncomeBin
0      0.496842    Medium
1      0.489453    Medium
2      0.536172    Medium
3      0.317083       Low
4      0.231958       Low
IncomeBin
Low       9436
Medium    4464
High      4461
Name: count, dtype: int64

(d) Standardization/Normalization

In [21]:
# Standardize YearlyIncome and AvgMonthSpend
scaler = StandardScaler()
df_merged[['YearlyIncome', 'AvgMonthSpend']] = scaler.fit_transform(df_merged[['YearlyIncome', 'AvgMonthSpend']])

# Display standardized columns
print(df_merged[['YearlyIncome', 'AvgMonthSpend']].head())

   YearlyIncome  AvgMonthSpend
0      0.298555      -0.231774
1      0.271180       0.390755
2      0.444261       0.672929
3     -0.367401       1.501999
4     -0.682765       1.059828

(e) Binarization (One Hot Encoding)

In [22]:
# One-Hot Encoded categorical attributes
df_merged = pd.get_dummies(df_merged, columns=['Education', 'Occupation', 'Gender', 'MaritalStatus', 'IncomeBin'], drop_first=True)

# Display the DataFrame with one-hot encoded variables
print(df_merged.head())

   CustomerID  HomeOwnerFlag  NumberCarsOwned  NumberChildrenAtHome  \
0       21173              1              3.0                   0.0
1       13249              1              2.0                   1.0
2       29350              0              3.0                   0.0
3       13503              1              2.0                   1.0
4       22803              1              1.0                   0.0

   TotalChildren  YearlyIncome  BikeBuyer  AvgMonthSpend  \
0            1.0      0.298555          1      -0.231774
1            2.0      0.271180          1       0.390755
2            0.0      0.444261          1       0.672929
3            2.0     -0.367401          1       1.501999
4            0.0     -0.682765          1       1.059828

   Education_Graduate Degree  Education_High School  \
0                      False                  False
1                      False                  False
2                      False                  False
3                      False                  False
4                      False                  False

   Education_Partial College  Education_Partial High School  \
0                      False                          False
1                       True                          False
2                      False                          False
3                       True                          False
4                       True                          False

   Occupation_Management  Occupation_Manual  Occupation_Professional  \
0                  False              False                    False
1                  False              False                    False
2                  False              False                    False
3                  False              False                    False
4                  False              False                    False

   Occupation_Skilled Manual  Gender_M  MaritalStatus_S  IncomeBin_Medium  \
0                      False      True            False              True
1                      False      True            False              True
2                      False     False             True              True
3                       True      True            False             False
4                       True      True             True             False

   IncomeBin_High
0           False
1           False
2           False
3           False
4           False

Part III: Calculating Proximity / Correlation Analysis of two features.

Make sure each attribute is transformed in a same scale for numeric attributes and Binarization for each
nominal attribute, and each discretized numeric attribute to standardization. Make sure to apply a correct
similarity measure for nominal (one hot encoding)/binary attributes and numeric attributes respectively.

(a) Calculate Similarity in Simple Matching, Jaccard Similarity, and Cosine Similarity between two following objects of your transformed input data.

In [26]:
# Simple Matching => sum(row1 == row2) / len(row1)
smc = sum(df_merged.iloc[0] == df_merged.iloc[1]) / len(df_merged.iloc[0])
print(smc)

#Jaccard Similarity
from sklearn.metrics import jaccard_score

#jaccard_sim = jaccard_score(df_merged.iloc[0], df_merged.iloc[1], average='macro')
#print(jaccard_sim)

# Cosine Similarity
from scipy.spatial.distance import cosine

print(1-(cosine(df_merged.iloc[0], df_merged.iloc[1])))

0.65
0.9999999864470285

(b) Calculate Correlation between two features Commute Distance and Yearly Income

In [28]:
correlation = df_merged['AvgMonthSpend'].corr(df_merged['YearlyIncome'])
print("Correlation: ", correlation)

Correlation:  0.5301257155563449