In [6]:
import numpy as np
import pandas as pd

Loading the Dataset

In [7]:
df_customers = pd.read_csv('C:/Users/SIDDHANT/Documents/Studies/3rd Year/Machine Learning/Assignment 2/kaggle_dataset/AWCustomers.csv')
df_sales = pd.read_csv('C:/Users/SIDDHANT/Documents/Studies/3rd Year/Machine Learning/Assignment 2/kaggle_dataset/AWSales.csv')

In [8]:
print(df_customers.head())
print(df_sales.head())

   CustomerID Title FirstName MiddleName  LastName Suffix  \
0       21173   NaN      Chad          C      Yuan    NaN
1       13249   NaN      Ryan        NaN     Perry    NaN
2       29350   NaN     Julia        NaN  Thompson    NaN
3       13503   NaN  Theodore        NaN     Gomez    NaN
4       22803   NaN  Marshall          J      Shan    NaN

             AddressLine1 AddressLine2         City    StateProvinceName  ...  \
0      7090 C. Mount Hood          NaN   Wollongong      New South Wales  ...
1     3651 Willow Lake Rd          NaN      Shawnee     British Columbia  ...
2  1774 Tice Valley Blvd.          NaN  West Covina           California  ...
3         2103 Baldwin Dr          NaN    Liverpool              England  ...
4         Am Gallberg 234          NaN        Werne  Nordrhein-Westfalen  ...

         Education      Occupation Gender MaritalStatus HomeOwnerFlag  \
0        Bachelors        Clerical      M             M             1
1  Partial College        Clerical      M             M             1
2        Bachelors        Clerical      F             S             0
3  Partial College  Skilled Manual      M             M             1
4  Partial College  Skilled Manual      M             S             1

  NumberCarsOwned NumberChildrenAtHome TotalChildren  YearlyIncome  \
0               3                    0             1         81916
1               2                    1             2         81076
2               3                    0             0         86387
3               2                    1             2         61481
4               1                    0             0         51804

   LastUpdated
0   2017-03-06
1   2017-03-06
2   2017-03-06
3   2017-03-06
4   2017-03-06

[5 rows x 24 columns]
   CustomerID  BikeBuyer  AvgMonthSpend
0       21173          1          50.97
1       13249          1          53.11
2       29350          1          54.08
3       13503          1          56.93
4       22803          1          55.41

In [9]:
print(df_customers.info())
print(df_sales.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18361 entries, 0 to 18360
Data columns (total 24 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   CustomerID            18361 non-null  int64
 1   Title                 101 non-null    object
 2   FirstName             18361 non-null  object
 3   MiddleName            10572 non-null  object
 4   LastName              18361 non-null  object
 5   Suffix                3 non-null      object
 6   AddressLine1          18361 non-null  object
 7   AddressLine2          311 non-null    object
 8   City                  18361 non-null  object
 9   StateProvinceName     18361 non-null  object
 10  CountryRegionName     18361 non-null  object
 11  PostalCode            18361 non-null  object
 12  PhoneNumber           18361 non-null  object
 13  BirthDate             18361 non-null  object
 14  Education             18361 non-null  object
 15  Occupation            18361 non-null  object
 16  Gender                18361 non-null  object
 17  MaritalStatus         18361 non-null  object
 18  HomeOwnerFlag         18361 non-null  int64
 19  NumberCarsOwned       18361 non-null  int64
 20  NumberChildrenAtHome  18361 non-null  int64
 21  TotalChildren         18361 non-null  int64
 22  YearlyIncome          18361 non-null  int64
 23  LastUpdated           18361 non-null  object
dtypes: int64(6), object(18)
memory usage: 3.4+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18355 entries, 0 to 18354
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   CustomerID     18355 non-null  int64
 1   BikeBuyer      18355 non-null  int64
 2   AvgMonthSpend  18355 non-null  float64
dtypes: float64(1), int64(2)
memory usage: 430.3 KB
None

In [10]:
print(df_customers.describe())
print(df_sales.describe())

         CustomerID  HomeOwnerFlag  NumberCarsOwned  NumberChildrenAtHome  \
count  18361.000000   18361.000000     18361.000000          18361.000000
mean   20241.987092       0.610588         1.270301              0.338162
std     5336.332731       0.487630         0.913989              0.568957
min    11000.000000       0.000000         0.000000              0.000000
25%    15621.000000       0.000000         1.000000              0.000000
50%    20248.000000       1.000000         1.000000              0.000000
75%    24863.000000       1.000000         2.000000              1.000000
max    29483.000000       1.000000         5.000000              3.000000

       TotalChildren   YearlyIncome
count   18361.000000   18361.000000
mean        0.850389   72754.779642
std         0.927315   30686.014313
min         0.000000   25435.000000
25%         0.000000   53312.000000
50%         0.000000   61851.000000
75%         2.000000   87410.000000
max         3.000000  139115.000000
         CustomerID    BikeBuyer  AvgMonthSpend
count  18355.000000  18355.00000   18355.000000
mean   20241.349387      0.55173      51.767207
std     5336.539868      0.49733       3.438024
min    11000.000000      0.00000      44.100000
25%    15620.500000      0.00000      49.410000
50%    20246.000000      1.00000      51.420000
75%    24863.500000      1.00000      53.600000
max    29483.000000      1.00000      65.290000

In [11]:
columns_to_drop = ['Title', 'FirstName', 'MiddleName', 'LastName', 'Suffix', 
                   'AddressLine1', 'AddressLine2', 'City', 'StateProvinceName', 
                   'CountryRegionName', 'PostalCode', 'PhoneNumber', 'BirthDate', 'LastUpdated']

df_customers_cleaned = df_customers.drop(columns=columns_to_drop)

print(df_customers_cleaned.head())

   CustomerID        Education      Occupation Gender MaritalStatus  \
0       21173        Bachelors        Clerical      M             M
1       13249  Partial College        Clerical      M             M
2       29350        Bachelors        Clerical      F             S
3       13503  Partial College  Skilled Manual      M             M
4       22803  Partial College  Skilled Manual      M             S

   HomeOwnerFlag  NumberCarsOwned  NumberChildrenAtHome  TotalChildren  \
0              1                3                     0              1
1              1                2                     1              2
2              0                3                     0              0
3              1                2                     1              2
4              1                1                     0              0

   YearlyIncome
0         81916
1         81076
2         86387
3         61481
4         51804